<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @album_status.album_id %>
</p>

<p>
  <b>Played:</b>
  <%= @album_status.played %>
</p>

<p>
  <b>Purchased:</b>
  <%= @album_status.purchased %>
</p>


<%= link_to 'Edit', edit_album_status_path(@album_status) %> |
<%= link_to 'Back', album_statuses_path %>
