<% title 'All Albums' -%>
<%= meta_description 'A List of Albums that Ben wishes to own' %>
<%= meta_keywords 'albums', 'CDs', 'wishlist' %>

<dl class="dl-horizontal">
  <dt>Albums:</dt>
  <dd><%= @albums.count %></dd>
  <dt>Played:</dt>
  <dd><%= AlbumStatus.played.count %></dd>
  <dt>Purchased:</dt>
  <dd><%= AlbumStatus.purchased.count %></dd>
</dl>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<% @albums.each do |album| %>
  <tr>
    <th><%= album.title %></th>
    <td><%= album.artist.name %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
