<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playlist.name %>
</p>

<% unless @playlist_albums.empty? %>
<h2>Albums</h2>
<table class="condensed-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= link_to 'Album', url_for(:order => 'album') %></th>
      <th><%= link_to 'Artist', url_for(:order => 'artist') %></th>
    </tr>
  </thead>
  <tbody>
<% @playlist_albums.each do |a| %>
    <tr>
      <td class="number"><%= a.position %></td>
      <td><%= a.album.title %></td>
      <td><%= a.album.artist.display_name %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
