<% title @playlist.name, false %>
<%= content_tag :h2, @playlist.name %>
<% unless @playlist_albums.empty? %>
<table class="condensed-table zebra-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><span class="helper">Sort:</span> <%= link_to 'Position', url_for(:order => nil) %> | <%= link_to 'Artist', url_for(:order => 'artist') %> | <%= link_to 'Album', url_for(:order => 'album') %></th>
    </tr>
  </thead>
  <tbody>
<% @playlist_albums.each do |a| %>
    <tr>
      <td class="number"><%= a.position %></td>
      <td colspan="2"><span class="artist"><%= a.album.artist.display_name %></span> - <%= a.album.title %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
