<% title @playlist.name, false %>
<%= content_tag :h2, @playlist.name %>

<dl class="dl-horizontal">
  <dt>Albums:</dt>
  <dd><%= @playlist_albums.count %></dd>
  <dt>Played:</dt>
  <dd><%= AlbumStatus.played.count %></dd>
  <dt>Purchased:</dt>
  <dd><%= AlbumStatus.purchased.count %></dd>
</dl>

<% unless @playlist_albums.empty? %>
<table class="condensed-table zebra-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><span class="helper">Sort:</span> <%= link_to 'Position', playlist_path(@playlist, :order => nil) %> | <%= link_to 'Artist', playlist_path(@playlist, :order => 'artist') %> | <%= link_to 'Album', playlist_path(@playlist, :order => 'album') %></th>
    </tr>
  </thead>
  <tbody>
<% @playlist_albums.each do |a| %>
    <tr data-album="<%= a.id %>">
      <td class="number"><%= a.position %></td>
      <td><span class="artist"><%= a.album.artist.display_name %></span> - <%= a.album.title %></td>
      <td>
        <% album_status = @album_statuses.find_by_album_id(a.album_id) %>
        <a class="played"><span class="label<% if album_status.present? && album_status.played? %> warning<% end %>">Played</span></a>
        <a class="purchased"><span class="label<% if album_status.present? && album_status.purchased? %> success <% end %>">Purchased</span></a>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>

<% content_for :scripts do %>
<script type="text/javascript">
//<!--
$(function() {
  $('a.played').click(function() {
    $(this).find('span.label').toggleClass('warning');
    var played = $(this).find('span.label').hasClass('warning');
    var album_id = $(this).parent('td').parent('tr').attr('data-album');
    $.ajax({
      type: 'post',
      data: {
        album_status: {
          'album_id': album_id,
          'played': played
        }
      },
      complete: function(request){},
      url: "<%= album_statuses_path(format: :js) %>"
    })
  });
  $('a.purchased').click(function() {
    $(this).find('span.label').toggleClass('success');
    var purchased = $(this).find('span.label').hasClass('success');
    var album_id = $(this).parent('td').parent('tr').attr('data-album');
    $.ajax({
      type: 'post',
      data: {
        album_status: {
          'album_id': album_id,
          'purchased': purchased
        }
      },
      complete: function(request){},
      url: "<%= album_statuses_path(format: :js) %>"
    })
  });
});
//-->
</script>
<% end %>