<!DOCTYPE html>
<html>
<head>
  <title><% if @content_for_title.blank? %>Musiclist<% else %><%= @content_for_title %><% end %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag    "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%- flash.each do |name, msg| -%><%= content_tag :div, msg, :id => "flash_#{name}" %><%- end -%>

<% if show_title? -%><h1><%= @content_for_title -%></h1><% end -%>
<%= yield %>
</div>

<%= jquery_include_tag :google %>
<%= javascript_include_tag "application" %>
<%= yield(:scripts) %>
</body>
</html>
